<!DOCTYPE html>
<html lang="pt-BR">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 my-3">
                <h1 class="text-center">Agenda</h1>
                <p class="text-center lead">Seus contatos:</p>
                <%- include('./partials/messages')%>
                
                <%- include('./partials/contatos') %> 
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>